.catalog-card {
  height: 100%;
}

.catalog-card .p-card-body {
  height: 100%;
  padding: 0;
}
.catalog-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.catalog-card-header {
  padding: 0.75rem 0.75rem 0.5rem;
  flex: 0 0 auto;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellipsis-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-2lines {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  min-height: 40px; 
}

.subtitle-1line {
  font-size: 12px;
  opacity: 0.75;
}

.visual-square {
  aspect-ratio: 1 / 1;
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  background: var(--surface-100);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
  
}

.visual-square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.visual-fixed {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  background: var(--surface-100);
  display: grid;
  place-items: center;
}

.catalog-card-footer {
  flex: 0 0 auto;
  margin-top: 0.5rem;
  padding: 0 0.75rem 0.75rem;
  font-size: 12px;
  opacity: 0.75;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel-reverse .p-carousel-items-content {
  transform: scaleX(-1);
}

.carousel-reverse .p-carousel-item {
  transform: scaleX(-1);
}

.carousel-reverse .p-carousel-prev,
.carousel-reverse .p-carousel-next {
  transform: scaleX(-1);
}

.carousel-item-wrap { height: 360px; }

@media (max-width: 900px){
  .carousel-item-wrap { height: auto; } 
}